/* Start global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding: 100px;
  --main-s-color: #ececec;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.main-heading::before,
.main-heading::after {
  content: "";
  background-color: var(--main-color-alt);
  position: absolute;
  width: 15px;
  height: 15px;
  z-index: -1;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.main-heading::before {
  left: -40px;
}
.main-heading::after {
  right: -40px;
}
.main-heading {
  background-color: transparent;
  text-transform: uppercase;
  width: fit-content;
  z-index: 1;
  margin: 0 auto 80px;
  position: relative;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 20px;
  border: 2px solid black;
}
.main-heading:hover {
  transition-delay: 0.5s;
  color: white;
  border-color: white;
}
.main-heading:hover::before {
  animation: left-move 0.5s linear forwards;
}
.main-heading:hover::after {
  animation: right-move 0.5s linear forwards;
}
/* End global Rules */
/* start header */
.header {
  box-shadow: 0 0 10px #ddd;
}
.header a {
  text-decoration: none;
  color: black;
}
.header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .logo {
  display: flex;
  align-items: center;
  height: 60px;
}
.header .container .logo h2 {
  color: var(--main-color);
  margin: 0;
  font-size: 30px;
}
.header .container > div.nav > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container > div.nav > ul > li {
  font-size: 16px;

  /* padding: 20px 0; */
  display: flex;
  align-items: center;
  height: 60px;
  overflow: hidden;
}
.header .container > div.nav > ul.nav > li > a::before {
  transition: var(--main-transition);
  display: block;
  width: 100%;
  position: absolute;
  height: 3px;
  background-color: var(--main-color-alt);
  content: "";
  top: 0;
  left: -100%;
}
.header .container > div.nav ul.nav > li > a:hover::before {
  left: 0;
}
.header .container > div.nav ul.nav > li > a {
  position: relative;
  height: 100%;
  text-transform: capitalize;
  padding: 0 30px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
.header .container ul.nav > li:last-child:hover .mega-menu {
  display: flex;
}
.header .container > div.nav .mega-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 3;
  background-color: white;
  width: 100%;
  padding: 30px;
  gap: 40px;
  border-bottom: var(--main-color-alt) 3px solid;
}
.header .container > div.nav .mega-menu > .img img {
  max-width: 100%;
}

.header .container > div.nav .mega-menu li a i {
  font-weight: bold;
}
.header .container > div.nav .mega-menu li a {
  padding: 20px 10px;
  min-width: 250px;
  flex: 1;
  overflow: hidden;
  display: block;
  font-weight: bold;
  color: var(--main-color);
  position: relative;
}
.header .container > div.nav .mega-menu li a {
  border-bottom: 1px solid #777;
}
.header .container > div.nav .mega-menu li a::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #ececec;
  position: absolute;
  z-index: -1;
  transition: var(--main-transition);
  top: 0;
  left: -100%;
}
.header .container > div.nav .mega-menu li a:hover::before {
  left: 0;
}

.header .mega-menu {
  display: none;
}
.header .mega-menu .img {
  flex: 1;
}
@media (max-width: 767px) {
  .header .mega-menu {
    flex-direction: column;
    gap: 0 !important;
    padding: 0 !important;
  }
  .header .container .logo {
    flex-basis: 100%;
  }
  .header .container > div.nav li a {
    padding: 0;
    font-size: 16px;
  }
  .header .container > div.nav {
    width: 100%;
  }

  .header .container {
    flex-direction: column;
  }
}
@media (max-width: 991px) {
  .header .container > div.nav .mega-menu {
    display: none;
  }
  .header .container > div.nav .mega-menu .links {
    flex: 1;
  }
  .header .container > div.nav .mega-menu .img {
    display: none;
  }
}
/* end header */
/* start landing */
.landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--main-s-color);
  z-index: -1;
  transform-origin: left top;
  transform: skewY(-6deg);
  top: -30px;
}
.landing {
  overflow: hidden;
  position: relative;
}
.landing > a {
  position: absolute;
  color: var(--main-color-alt);
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}
.landing > a i {
  animation: go-down 1.5s linear infinite;
}
.landing .container {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 60px);
}
.landing .container .text h2 {
  font-size: 35px;
  text-transform: capitalize;
  margin: 0;
}
.landing .container .text p {
  line-height: 1.2;
  font-size: 20px;
  margin: 10px 0 0 0;
  line-height: 1.6;
}
.landing .container .img {
  flex-basis: 50%;
  position: relative;
}
.landing .container .img img {
  width: 600px;
  position: relative;
  animation: up-down 5s linear infinite;
}
@media (max-width: 767px) {
  .landing .container {
    min-height: calc(100vh - 94.5px);
  }
}
@media (max-width: 991px) {
  .landing .container .img {
    display: none;
  }
  .landing .container .text {
    text-align: center;
  }
}
/* end landing */
/* start article */
.articles {
  margin-top: var(--main-padding);
  margin-bottom: var(--main-padding);
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.articles .container .box {
  border-radius: 6px;
  box-shadow: 0 0 6px 0 #777;
  overflow: hidden;
  transition: var(--main-transition) transform;
}
.articles .container .box:hover {
  transform: translateY(-20px);
}
.articles .container .box img {
  max-width: 100%;
}
.articles .container .box .content {
  padding: 15px;
}
.articles .container .box .content h3 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}
.articles .container .box .content p {
  margin: 10px 0;
  color: #777;
}
.articles .container .box .info a {
  padding: 15px;
  border-top: 0.1px solid #e6e6e7;
  display: flex;
  justify-content: space-between;
  color: var(--main-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
.articles .container .box .info a i {
  transform: translateX(-10px);
}
.articles .container .box:hover .info a i {
  animation: aro 1s linear infinite both;
}
/* end article */
/* start gallery */
.gallery {
  position: relative;
  background-color: #ddd;
  padding: var(--main-padding) 0;
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 40px;
}
.gallery .container .box {
  padding: 15px;
  background-color: white;
  position: relative;
  overflow: hidden;
}
.gallery .container .box {
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),
    0px 2px 4px 0px rgb(0 0 0 / 12%);
  z-index: 1;
}
.gallery .container .box .img {
  overflow: hidden;
}
.gallery .container .box img {
  max-width: 100%;
  transition: var(--main-transition);
}
.gallery .container .box::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  background-color: white;
}
.gallery .container .box:hover::before {
  animation: flashing 0.7s;
}
.gallery .container .box:hover img {
  transform: rotate(6deg) scale(1.2);
}
/* end gallery */
/* start features */
.features {
  padding: var(--main-padding) 0;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 40px;
}
.features .container .box {
  border: 2px solid #e6e6e7;
  text-align: center;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.features .container .box .img::before {
  /* background-color: red; */
  position: absolute;
  content: "";
  width: 0%;
  height: 0%;
  bottom: 0;
  right: 0;
  border-style: solid;
  z-index: 1;
  transition: var(--main-transition);
  border-width: 0px 0px 180px 450px;
  border-color: transparent transparent white transparent;
}
.features .container .box:hover .img::before {
  border-width: 0px 450px 180px 0px;
}

.features .container .box .img {
  position: relative;
}
.features .container .box .img::after {
  background-color: red;
  position: absolute;
  content: "";
  width: 100%;

  height: 100%;
  top: 0;
  left: 0;
}

.features .container .box img {
  width: 100%;
}
.features .container .box h2 {
  font-size: 30px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.features .container .box h2::after {
  display: block;
  content: "";
  width: calc(100% - 20px);
  position: absolute;
  height: 5px;
  left: 10px;
  bottom: -7px;
  background-color: red;
}
.features .container .box p {
  line-height: 1.8;
  padding: 10px;
  color: #777;
}
.features .container .box a {
  text-decoration: none;
  background-color: red;
  color: inherit;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 30px;
  font-weight: bold;
  transition: var(--main-transition);
  border: 2px solid #03a9f4;
}
.features .container .quality .img::after {
  background-color: rgb(244 64 54 / 60%);
}
.features .container .quality h2::after {
  background-color: #f44036;
}
.features .container .quality a {
  color: #f44036;
  border: 2px solid #f44036;
  background: linear-gradient(to right, #f44036 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .container .box:hover a {
  background-position: left bottom;
  color: white;
}
.features .container .passion .img::after {
  background-color: rgb(3 169 244 / 60%);
}
.features .container .passion h2::after {
  background-color: #03a9f4;
}
.features .container .passion a {
  color: #03a9f4;
  border: 2px solid #03a9f4;
  background: linear-gradient(to right, #03a9f4 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .container .box:hover a {
  background-position: left bottom;
  color: white;
}
.features .container .time .img::after {
  background-color: rgb(0 150 136 / 60%);
}
.features .container .time h2::after {
  background-color: #009688;
}
.features .container .time a {
  color: #009688;
  border: 2px solid #009688;
  color: #009688;
  background: linear-gradient(to right, #009688 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .container .box:hover a {
  background-position: left bottom;
  color: white;
}

/* end features */
/* start testimonials */
.testimonials {
  padding: var(--main-padding) 0;
  background-color: #ddd;
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 40px;
}
.testimonials .container .content {
  background-color: white;
  box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
  padding: 25px;
  position: relative;
}
.testimonials .container .content .img {
  position: absolute;
  width: 100px;
  top: 0;
  right: 0;
  transform: translate(10%, -40%);
  height: 100px;
  z-index: 1;
  background-color: red;
  border-radius: 50%;
  border: 10px solid #ddd;
}
.testimonials .container .content .img img {
  width: 100%;
  border-radius: 50%;
}
.testimonials .container .content i {
  color: gold;
  margin: 10px 0;
}
.testimonials .container .content h3 {
  margin: 0 0 10px;
}
.testimonials .container .content p {
  margin: 0;
  color: #777;
}
/* End testimonials */
/* start test */
.team {
  padding: var(--main-padding) 0;
}
.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 40px;
}
.team .container .box::before {
  content: "";
  background-color: #f3f3f3;
  width: calc(100% - 120px);
  height: 100%;
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
  border-radius: 10px;
}
.team .container .box::after {
  content: "";
  background-color: #ddd;
  width: calc(100% - 120px);
  height: 100%;
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: var(--main-transition);
  border-radius: 10px;
}
.team .container .box:hover::after {
  content: "";
  transform: translateX(0%);
}
.team .container .box {
  position: relative;
  overflow: hidden;
}
.team .container .box .data {
  padding-top: 45px;
  display: flex;
}

.team .container .box .data .img img {
  width: calc(100% - 75px);
  float: right;
  border-radius: 5px;
}
.team .container .box .data .icons {
  display: flex;
  flex-direction: column;
}
.team .container .box .data .icons i {
  color: black;
  padding: 10px;
}
.team .container .box .data .icons i:hover {
  color: var(--main-color);
}
.team .container .box .info {
  margin-left: 135px;
}
.team .container .box .info h2 {
  color: var(--main-color);
  margin: 0;
  font-size: 25px;
}
.team .container .box .info p {
  color: #777;
  margin: 14px;
}
/* End test */
/* start services */
.services {
  padding: var(--main-padding) 0;
  background-color: #ddd;
}
.services .container {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  counter-reset: boxs;
}
.services .container .box::before {
  content: "";
  top: -3px;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  transition: var(--main-transition);
  position: absolute;
  background-color: var(--main-color);
}
.services .container .box:hover::before {
  width: 100%;
}
.services .container .box {
  position: relative;
  transition: var(--main-transition);
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
}
.services .container .box:hover {
  transform: translateY(-10px);
}
.services .container .box i {
  text-align: center;
  margin: 20px 0 0;
  display: block;
  color: #d5d5d5;
}
.services .container .box h2 {
  margin: 20px 0 40px;
  text-transform: capitalize;
  text-align: center;
  color: var(--main-color);
}
.services .container .box .details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  background-color: #f9f9f9;
}
.services .container .box .details a {
  color: var(--main-color);
  text-decoration: none;
}
.services .container .box .details::before {
  counter-increment: boxs;
  content: "0" counter(boxs);
  color: white;
  background-color: var(--main-color);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 80px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding-right: 5px;
  align-items: center;
}
.services .container .box .details::after {
  content: "";
  background-color: #d5d5d5;
  position: absolute;
  left: 85px;
  top: 0;
  height: 100%;
  width: 50px;
  transform: skewX(-30deg);
  transform-origin: top left;
}
/* End services */
/* start our skill */
.our-skills {
  padding: var(--main-padding) 0;
}
.our-skills .container {
  display: flex;
  align-items: center;
}
.our-skills .container > img {
  width: 500px;
}
@media (max-width: 991px) {
  .our-skills .container > img {
    display: none;
  }
}
.our-skills .container .info {
  flex: 1;
}
.our-skills .container .info .placeholder {
  height: 30px;
  position: relative;
  background-color: #eee;
}
.our-skills .container .info .skill h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our-skills .container .info .skill h2 > span {
  font-size: 18px;
  color: var(--main-color);
  border-radius: 6px;
  padding: 2px 3px;
  border: 1px solid #eee;
}
.our-skills .container .info .placeholder span {
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--main-color);
}

/* End our skill */
/* start work steps */
.work-steps {
  padding: var(--main-padding) 0;
  background-color: #ddd;
}
.work-steps .container {
  display: flex;
  gap: 100px;
}
.work-steps .container .boxs {
  flex: 1;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.work-steps .container .boxs .box {
  border: white 1px solid;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  padding: 30px;
  z-index: 1;
  gap: 20px;
  position: relative;
  border-radius: 6px;
}
.work-steps .container .boxs .box::before {
  top: 50%;
  content: "";
  position: absolute;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  z-index: -1;
  background-color: #ededed;
  transition: var(--main-transition);
}
.work-steps .container .boxs .box:hover::before {
  width: 100%;
  height: 100%;
}
.work-steps .container .boxs .box img {
  width: 60px;
}
.work-steps .container .box h2 {
  margin: 0 0 20px 0;
}
.work-steps .container .box p {
  line-height: 1.7;
  color: #777;
}
@media (max-width: 991px) {
  .work-steps .container {
    flex-direction: column;
  }
  .work-steps .container .box {
    flex-direction: column;
    text-align: center;
  }
  .work-steps .container .box .text h2,
  .work-steps .container .box .text p {
    margin: 0;
  }
  .work-steps .container .box .text h2 {
    margin-bottom: 10px;
  }
}
/* End work steps */
/* Start events */
.events {
  padding: var(--main-padding) 0;
}

.events .container {
  flex-wrap: wrap;
  display: flex;
}
.events .container .img {
}
.events .container .img img {
  max-width: 450px;
}
.events .container .info {
  flex: 1;
  text-align: center;
}
.events .container .info .date {
  display: flex;
  flex-direction: row;
}
.events .container .info .date .time {
}
.events .container .info .date .time span {
}
.events .container .info h2 {
}
.events .container .info p {
}
/* End events */
@keyframes flashing {
  100% {
    width: 200%;
    opacity: 0.2;
    height: 200%;
  }
}
@keyframes aro {
  100% {
    transform: translateX(10px);
  }
}
@keyframes up-down {
  0% {
    top: 0;
  }
  50% {
    top: -50px;
  }
  100% {
    top: 0;
  }
}
@keyframes go-down {
  0% {
    transform: translateY(0px);
  }
  10% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(-15px);
  }
  80% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    width: 56%;
    height: 100%;
    border-radius: 0;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    border-radius: 0;
    right: 0;
    width: 50%;
    height: 100%;
  }
}
